
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug main{
    background-color: black;
}
.debug footer{
    background-color: antiquewhite;
}
.debug .main-nav{
    background-color: brown;
}
.debug .contenitore{
    background-color: blue;
}
.debug .contenitore-nav{
    background-color: aliceblue;
    height: 50px;
}
.debug .cover-items{
     background-color: aquamarine;
     height: 200px;
}
footer{
    height: 100px;
   
}
main{
    height: calc(100vh - 100px);
   
}
.main-nav{
    width: 50px;
}
.header-main{
    position: fixed;
    left: 50px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 50px);
}
.contenitore{
    width: calc(100% - 50px);
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.scroll{
    overflow-y: scroll;
}
.list{
    list-style: none;
}
.cover-items{
    width: calc(50% - 40px);
    margin: 20px;
}
.contenitore-nav{
    margin-top: 70px;
}

@media screen and (min-width:576px) {
    .main-nav{
        width: 200px;
    }
    .contenitore{
        width: calc(100% - 200px);
    }
    .header-main{
        width: calc(100% - 200px);
        left: 200px;
    }
    
    
}
@media screen and (min-width:768px) {
    .cover-items{
        width: 25%;
    }
    
}
@media screen and (min-width:992) {
    .cover-items{
        width: calc(100% / 6);
    }
    
    
}
